<div class="container mt-3">
<h3> EDIT PRODUCTS</h3>
<div class="col-md-6">

<form action="/admin/edit-products/{{product._id}}" method="post" enctype="multipart/form-data">
  <label for="">Product Name</label>
  <input type="text" name="name" class="form-control" value="{{product.name}}">

 <label for="">category</label>
  <input type="text" name="category" class="form-control" value="{{product.category}}">

   <label for="">Price</label>
  <input type="text" name="price" class="form-control" value="{{product.price}}">

   <label for="">Description</label>
  <input type="text" name="description" class="form-control" value="{{product.description}}">
  
  <label for="">Image</label>
  <img src="/product-images/{{product._id}}.jpg" style="width: 100px; margin: 7px" id="imgView"></img>
  <input type="file" name="image" class="form-control" onchange="viewImage(event)">

  <button type="submit" class="btn btn-success mt-4">Save Edits</button>

</form>
</div>
</div>

<script>
  function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
  }
</script>